* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  max-width: 600px;
  margin: 2rem auto;
  padding: 1rem;
}

form>div {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

input,
textarea {
  padding: 0.5rem;
  font-size: 1rem;
}

button {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  cursor: pointer;
}

/* Output styling */
.output {
  margin-top: 2rem;
  padding: 1rem;
  border: 1px solid #ddd;
}

.checkbox-field {
  display: flex;
  flex-direction: row;

}